<div class="alert alert-info" role="alert">
  Programming Languages
</div>

<fieldset [disabled]="isLoading">
  <form [formGroup]="loginForm">
      <div class="form-group">
        <label class="d-block">
          <input type="text" class="form-control" [placeholder]="'Username'" formControlName="username">
          <app-control-messages [control]="form['username']"></app-control-messages>
        </label>
      </div>
      <div class="form-group">
        <label class="d-block">
          <input type="password" class="form-control" [placeholder]="'Password'" formControlName="password">
          <app-control-messages [control]="form['password']"></app-control-messages>
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block btn-raised" (click)="login()" [disabled]="loginForm.invalid">
          <span [hidden]="isLoading">Login</span>
          <span [hidden]="!isLoading">
            <fa-icon icon="asterisk" size="3x" [spin]="true"></fa-icon>
          </span>
        </button>
        <button class="btn btn-warning btn-block btn-raised" (click)="logout()">
          <span [hidden]="isLoading">Logout</span>
          <span [hidden]="!isLoading">
          </span>
        </button>
      </div>
      <a [routerLink]="['/auth/register']">Don't have an account? Sign up here</a>
  </form>
</fieldset>
