<div class="wrapper">
  <div class="toolbar">
    <mat-toolbar color="primary">
      <div class="container">
        <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none">
          {{ 'Programming Languages' }}
        </span>
        <span routerLink="" class="branding spacer d-none d-md-inline">
          {{ 'Programming Languages' }}
        </span>
        <span class="d-none d-md-inline">
          <button mat-button class="nav-button" *ngFor="let item of navItems" [routerLink]="[item.link]"
            routerLinkActive="active">
            {{ item.title }}
          </button>
        </span>
        <button mat-raised-button class="btn btn-info" (click)="logout()" color="primary">Logout</button>
      </div>
    </mat-toolbar>
  </div>
</div>
